Source: ros-iron-rmf-task
Section: misc
Priority: optional
Maintainer: Yadunund <yadunund@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), cmake, libeigen3-dev, ros-iron-ament-cmake-catch2 <!nocheck>, ros-iron-ament-cmake-uncrustify <!nocheck>, ros-iron-rmf-battery, ros-iron-rmf-utils, ros-iron-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-iron-rmf-task
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-iron-rmf-battery, ros-iron-rmf-utils, ros-iron-ros-workspace
Description: Package for managing tasks in the Robotics Middleware Framework
